{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS -->
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-11"> <!-- Adjust column width here -->
                <div class="registration-container">
                    <h1 class="text-center">Register</h1>
                    <form method="post" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                            {% if form.username.errors %}
                            <div class="error-message" style="color: red;">
                                {{ form.username.errors }}
                            </div>
                            {% endif %}
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            {% if form.email.errors %}
                            <div class="error-message" style="color: red;">
                                {{ form.email.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_password1">Password:</label>
                            <input type="password" class="form-control" id="id_password1" name="password1" required>
                            {% if form.password1.errors %}
                            <div class="error-message" style="color: red;"></div>
                                {{ form.password1.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="id_password2">Confirm Password:</label>
                            <input type="password" class="form-control" id="id_password2" name="password2" required>
                            {% if form.password2.errors %}
    <div class="error-message" style="color: red;">
        {{ form.password2.errors }}
    </div>
{% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>


                    <!-- {% if form.errors %}
<p class="text-danger"> Please check the errors.</p>
{% endif %}   -->

<!-- {% if error_message %}
<div class="message-box mt-3">
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
</div>
{% endif %}  -->

                    <br>
                    <a href="{% url 'login' %}" class="login-link">Already have an account? Login here</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
